<!-- <p>yoy-chart works!</p> -->
<div class="chart-container">
    <div class="col-md-6 py-0 row mx-auto"
    style="background-color: rgb(61, 204, 197,0.9); border-radius: 9px; box-shadow:2px 2px 8px silver;">
      <mat-form-field appearance="outline" class="col-md-9 mt-3">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="location" class="">
          <mat-option value="Bangalore">Bangalore</mat-option>
          <mat-option value="Chennai">Chennai</mat-option>
          <mat-option value="Delhi">Delhi</mat-option>
          <mat-option value="Hyderabad">Hyderabad</mat-option>
          <mat-option value="Mumbai">Mumbai</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-md-3 my-auto">
        <button (click)="loadChart()" class="btn btn-success btn-block">Process</button>
      </div>

    </div>
    <!-- <input type="button" (click)="loadChart()" value="Process" class=""/> -->
    <canvas id="canvas" class="chart-ui col-md-6 mx-auto">{{yoychart}}</canvas>
</div>

