<nav class="navbar-nav navbar-expand bg-dark" style="opacity: 0.8;">
  <a class="navbar-brand col-md-1">
    <img src="../../../assets/Accolite.jpg" class="img-fluid"/>
  </a>
  <ul class="navbar-nav my-auto" style="cursor: pointer;">
    <li class="nav-item px-3" routerLink="./opportunity">
      <a class="nav-link text-light">Opportunity</a>
    </li>
    <li class="nav-item px-3" routerLink="./trends">
      <a class="nav-link text-light">Trends</a>
    </li>
    <li class="nav-item px-3" routerLink="./audit">
      <a class="nav-link text-light">Audits</a>
    </li>
    <li class="nav-item px-3" routerLink="./search">
      <a class="nav-link text-light">Search</a>
    </li>
  </ul>
  <div class="navbar-nav ml-auto my-auto bg-secondary text-light" style="cursor: pointer;">
    <div class="row my-auto">
      <div class="col-md-3"><img src="{{user.photoUrl}}" class="my-auto img-fluid"></div>
      <div class="col-md-5 my-auto">Hey {{user.firstName}}!</div>
      <div class="col-md-1 my-auto text-dark" (click)="signOut()" ><i class="fas fa-sign-out-alt"></i></div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
