
<mat-toolbar color="primary">
  <div class="mx-auto">
    Welcome to AU Management Portal
  </div>
</mat-toolbar>

<div class="d-flex flex-row justify-content-around mt-2 font-weight-bold bg-light py-4" style="cursor: pointer;">
  <mat-card routerLink="/dashboard">
    <mat-card-content>
      Opportunity Management
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      Candidate Management
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      Course Management
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      Assessment
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      Onboarding portal
    </mat-card-content>
  </mat-card>

</div>
