
<mat-toolbar color="primary" style="opacity: 0.7;">
  <div class="mx-auto">
    Welcome to AU Management Portal
  </div>
</mat-toolbar>

<div class="d-flex flex-row justify-content-around font-weight-bold py-4" style="cursor: pointer; opacity: 0.8;">
  <mat-card routerLink="/dashboard" class="card-box-style">
    <mat-card-content>
      Opportunity Management
    </mat-card-content>
  </mat-card>

  <mat-card class="card-box-style">
    <mat-card-content>
      Candidate Management
    </mat-card-content>
  </mat-card>

  <mat-card class="card-box-style">
    <mat-card-content>
      Course Management
    </mat-card-content>
  </mat-card>

  <mat-card class="card-box-style">
    <mat-card-content>
      Assessment
    </mat-card-content>
  </mat-card>

  <mat-card class="card-box-style">
    <mat-card-content >
      Onboarding portal
    </mat-card-content>
  </mat-card>

</div>
